

<div ng-controller="restaurantController" ng-init="initRest()">
	<!-- google maps -->
	<script>
		function initialize() {
			var mapCanvas = document.getElementById('map');
			var mapOptions = {
				center : new google.maps.LatLng(44.5403, -78.5463),
				zoom : 8,
				mapTypeId : google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(mapCanvas, mapOptions);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>




	<!-- === MAIN Background === -->
	<div class="slide story" id="search-slide-1" data-slide="1">
		<div class="container">
			<div class="row title-row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span style="color: black;">Your search</span>
						</div>
						<div class="panel-body" id="map"
							style="width: 100%; height: 400px; background-color: #CCC;">
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div>
						<button type="button" class="btn btn-success"
							ng-click="restaurant_result()">Restaurants</button>
						<button type="button" class="btn btn-danger"
							ng-click="neayByPlace_result()">Near By Places</button>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /slide1 -->


	<!-- Div 2 -->
	<div class="slide story" id="search-slide-2" data-slide="2">
		<div class="container" ng-show='showDiv1'>
			<div class="row title-row">
				<div class="col-12 font-thin">
					<span class="font-semibold">Restaurants</span>
				</div>

				<!-- Thumbnail 1 -->
				<div class="thumbnail">
					<img ng-src="{{icon1[0]}}" class="img-responsive">
					<div class="caption">
						<h3>Restaurant 1</h3>
						<p>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<span>{{vicinity1[0]}}</span>
						</p>
						<table class="table">
							<tbody>
								<tr>
									<td>Restaurant Name</td>
									<td>{{restaurantName1[0]}}</td>
								</tr>
								<tr>
									<td>Rating</td>
									<td>{{rating1[0]}}</td>
								</tr>
							</tbody>
						</table>

						<div class="text-right">
							<input class="btn btn-primary" value="Select" type="button">
						</div>
					</div>
				</div>


				<!-- Thumbnail 2 -->
				<div class="thumbnail">
					<img ng-src="{{icon1[1]}}" class="img-responsive">
					<div class="caption">
						<h3>Restaurant 2</h3>
						<p>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<span>{{vicinity1[1]}}</span>
						</p>
						<table class="table">
							<tbody>
								<tr>
									<td>Restaurant Name</td>
									<td>{{restaurantName1[1]}}</td>
								</tr>
								<tr>
									<td>Rating</td>
									<td>{{rating1[1]}}</td>
								</tr>
							</tbody>
						</table>
						<div class="text-right">
							<input class="btn btn-primary" value="Select" type="button">
						</div>
					</div>
				</div>


				<!-- Thumbnail 3 -->
				<div class="thumbnail">
					<img ng-src="{{icon1[2]}}" class="img-responsive">
					<div class="caption">
						<h3>Restaurant 3</h3>
						<p>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<span>{{vicinity1[2]}}</span>
						</p>
						<table class="table">
							<tbody>
								<tr>
									<td>Restaurant Name</td>
									<td>{{restaurantName1[2]}}</td>
								</tr>
								<tr>
									<td>Rating</td>
									<td>{{rating1[2]}}</td>
								</tr>
							</tbody>
						</table>
						<div class="text-right">
							<input class="btn btn-primary" value="Select" type="button">
						</div>
					</div>
				</div>


				<!-- Thumbnail 4 -->
				<div class="thumbnail">
					<img ng-src="{{icon1[3]}}" class="img-responsive">
					<div class="caption">
						<h3>Restaurant 4</h3>
						<p>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<span>{{vicinity1[3]}}</span>
						</p>
						<table class="table">
							<tbody>
								<tr>
									<td>Restaurant Name</td>
									<td>{{restaurantName1[3]}}</td>
								</tr>
								<tr>
									<td>Rating</td>
									<td>{{rating1[3]}}</td>
								</tr>
							</tbody>
						</table>
						<div class="text-right">
							<input class="btn btn-primary" value="Select" type="button">
						</div>
					</div>
				</div>

				<!-- Thumbnail 5 -->
				<div class="thumbnail">
					<img ng-src="{{icon1[4]}}" class="img-responsive">
					<div class="caption">
						<h3>Restaurant 5</h3>
						<p>
							<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
							<span>{{vicinity1[4]}}</span>
						</p>
						<table class="table">
							<tbody>
								<tr>
									<td>Restaurant Name</td>
									<td>{{restaurantName1[4]}}</td>
								</tr>
								<tr>
									<td>Rating</td>
									<td>{{rating1[4]}}</td>
								</tr>
							</tbody>
						</table>
						<div class="text-right">
							<input class="btn btn-primary" value="Select" type="button">
						</div>
					</div>
				</div>


				<div class="col-sm-12">
					<div>
						<button id="feed" type="button" class="btn btn-success">
							<i class="icon icon-bar-chart icon-large">High Charts</i>
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /slide2 -->


	<!-- Div 3 -->
	<div class="slide story" id="search-slide-2" data-slide="3">
		<div class="container" ng-show='showDiv2'>
			<div class="row title-row">

				<div class="col-12 font-thin">
					<span class="font-semibold">Near By Places to</span> <span
						class="font-thin">HANGOUT <i class="icon icon-play"></i></span>
				</div>


				<!-- Thumbnail 1 -->
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="../hangoutamigosapp/images/seattle.png">
						<div class="caption">
							<h3>Seattle</h3>
							<a href="#" class="btn btn-primary" role="button">Select
								Place</a>

						</div>
					</div>
				</div>


				<!-- Thumbnail 2 -->
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="../hangoutamigosapp/images/seattle.png">
						<div class="caption">
							<h3>Seattle</h3>
							<a href="#" class="btn btn-primary" role="button">Select
								Place</a>

						</div>
					</div>
				</div>


				<!-- Thumbnail 3 -->
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="../hangoutamigosapp/images/seattle.png">
						<div class="caption">
							<h3>Seattle</h3>
							<a href="#" class="btn btn-primary" role="button">Select
								Place</a>

						</div>
					</div>
				</div>


				<!-- Thumbnail 4 -->
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="../hangoutamigosapp/images/seattle.png">
						<div class="caption">
							<h3>Seattle</h3>
							<a href="#" class="btn btn-primary" role="button">Select
								Place</a>

						</div>
					</div>
				</div>

				<!-- Thumbnail 5 -->
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="../hangoutamigosapp/images/seattle.png">
						<div class="caption">
							<h3>Seattle</h3>
							<a href="#" class="btn btn-primary" role="button">Select
								Place</a>

						</div>
					</div>
				</div>


				<!-- Thumbnail 5 -->
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="../hangoutamigosapp/images/seattle.png">
						<div class="caption">
							<h3>Seattle</h3>
							<a href="#" class="btn btn-primary" role="button">Select
								Place</a>

						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div>
						<button type="button" class="btn btn-success">Button 1</button>
						<button type="button" class="btn btn-danger">Button 2</button>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /slide3 -->

</div>